/**/
.Body{
    text-align:left;
	background-color: #252575; 
    height:450px;
}

.body_input{
   margin-left:270px; 
    padding: 3px 3px;
    font-size: 150%;
    margin-top:0px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}

.body_input label {
    display: inline-block;
    font-size: 150%;
    text-align: right;
    position: absolute;
    margin-left:-200px; 
    padding: 3px 3px;
    color:#ff5001;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}

.body_input select {
    font-size: 150%;
    margin-left:35px; 
    position: absolute;
    padding: 3px 3px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}
.body_input option {
    margin-left:190px; 
    position: absolute;
    padding: 3px 3px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}

.body_attribute{
    margin-top:10px;
    margin-left:300px; 
    padding: 3px 3px;
    font-size: 150%;
    font-weight: bold;
}

.body_attribute label {
    display: inline-block;
    font-size: 150%;
    text-align: right;
    position: absolute;

    margin-left:-300px; 
    padding: 3px 3px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}

/**/
.body_x{
    text-align:left;
	background-color: #252575; 
    height:450px;
}
/**/
/**/
.right-button-margin{
    padding: 3px 3px;
    position: fixed;
    font-size: 16px;
}
/**/

/**/
.footer{
    text-align:center;
/*
    background-color:#1515c5;
*/
    background-color:#1515c5;
    margin-top:280px;
    position: absolute;
    width:100%;
    top:300px;
    clear:both;
    height:60px;
}
/**/
/**/
.page-footer{
    font-family:"Lucida Console", Courier, monospace;
    font-size:225%;
    color:#ff3001;
}
/**/
/**/
.header{
    text-align:left;
	background-color: #010130;
    margin-bottom:1px;    
    margin-top:0px;
    margin-left:0px;
    height:80px;
}
/**/
.header_text{
    text-align:left;
    margin-bottom:1px;
    margin-left:70px;
    font-weight: bold;
    font-size:50px;
    color:#ff5001;
}
.header_button{
    margin-top:-70px;
    margin-left:570px;
    clear:both;
    font-weight: bold;
    display:flex;
    flex-direction:row;
    font-size:30px;
    color:#110000;
}
/**/
/**/
.container_xxx {
    display:flex;
    margin-left:70px;
    flex-direction:column;
   font-weight: bold;
	}
/**/	
/**/
.container {
    margin-left:70px;
    font-family:"Lucida Console", Courier, monospace;
    font-size:160%;	

    height:180px;
    width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top:0px;
}
/**/
/**/
.item {
    flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 30%; 
	font-size: 2rem;
	line-height: 1;
	text-align: left;
	padding: 3rem;
	background: #9999bb;
	border: 3px solid #8f80ff;
    color:#151555;
	margin: 10px;
}
/**/
.item_input{
	text-align: left;
}
.item_text{
	text-align: center;
}
.body_attribute_add{
    margin-left:-108px; 
    padding: 3px 3px;
    margin-top:19px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}

.body_attribute_add label {
    display: inline-block;
    font-size: 150%;
    text-align: right;
    position: absolute;
    margin-left:-200px; 
    padding: 3px 3px;
    color:#ff5001;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}

.body_attribute_add select {
    font-size: 150%;
    margin-left:0px; 
    position: absolute;
    padding: 3px 3px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}
.body_attribute_add option {
    margin-left:0px; 
    position: absolute;
    padding: 3px 3px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}
.body_attribute_add input {
    margin-left:40px; 
    margin-top:10px; 
    position: relative;
    padding: 3px 3px;
    color:#010130;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}
.body_attribute_add div p {
    margin-left: 104px; 
    margin-top:10px; 
    position: relative;
    padding: 3px 3px;
    color:#ff5001;
    font-size:225%;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;
}
.add_button button{
    margin-left: 104px; 
    margin-top:10px; 
    position: relative;
    padding: 3px 3px;
    color:#ff5001;
    font-size:225%;
    font-family:"Lucida Console", Courier, monospace;
    font-weight: bold;  
}
